/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--line-height);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: .5em 0;
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.3rem;
}

/* Links
--------------------------------------------- */
a,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    /* color: #1c036c; */
    color: var(--font-em-color);
    text-decoration: underline
}


/* Custom properties
--------------------------------------------- */

:root {
    --background-color: #ffffff;
    --background-contrast-color: #ece9e9;
    --font-color: #000000;
    --font-em-color: #ff0000;

    --fontSzie-Xlarge: 2rem;
    --fontSize-large: 1.5rem;
    --fontSize-media: 1.3rem;
    --fontSize-small: 1rem;
    --fontSize-xsmall: 0.75rem;

    --line-height: 1.5;

}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.site-wrapper {
    /* This is for very large screens */
    max-width: 120rem;
    margin: 0 auto;
}

/* Site header
--------------------------------------------- */
.site-header {
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 4.5rem;
    background-color: var(--background-color);
    border-bottom: 1px solid lightgrey;
}

.site-header img {
    width: 140px;
    height: 70px;
    margin-left: 1rem;
    padding-top: 0.5rem;
}

/* Style for mobile toggle
--------------------------------------------- */

nav {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: var(--font-em-color);
}

nav.activated {
    transition: height 0.3s ease, visibility 0s 0.3s;
}

.show nav {
    transition: height 0.3s ease, visibility 0s;
    visibility: visible;
    height: 253px;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.2em;
    display: block;
    border-right: none;
    color: white;
    border-bottom: none;
    border-top: 2px solid #8A95d0;
    line-height: 40px;
}

nav a:hover,
nav a:active,
nav a:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Hamburger Styles */
.btn-menu {
    margin: 0 20px 20px 0;
    display: block;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-menu .button-content {
    display: block;
    height: 24px;
    cursor: pointer;
}

.btn-menu .text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-menu .bar {
    display: block;
    height: 4px;
    background-color: var(--font-em-color);
    width: 100%;
    position: relative;
    top: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-menu .bar:before {
    content: "";
    width: 100%;
    height: 4px;
    top: 10px;
    left: 0;
    background-color: var(--font-em-color);
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.btn-menu .bar:after {
    content: "";
    width: 100%;
    height: 4px;
    top: -10px;
    left: 0;
    background-color: var(--font-em-color);
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.btn-menu:focus {
    outline: none;
}

.btn-menu:focus .button-content {
    outline: 5px solid #7683C9;
}

.show .btn-menu .bar {
    background-color: transparent;
}

.show .btn-menu .bar:before {
    top: 0;
    transform: rotate(45deg);
}

.show .btn-menu .bar:after {
    top: 0;
    transform: rotate(-45deg);
}

/* End Dropdown */
/* End style for mobile toggle
--------------------------------------------- */

@media (min-width: 43.75em) {

    .site-header {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .btn-menu {
        display: none;
    }

    nav {
        background-color: white;
        visibility: visible;
        height: auto;
        margin-left: 40rem;
        padding: 0;
    }

    nav ul {
        display: flex;
    }

    nav a {
        border-top: none;
    }

    nav a:hover,
    nav a:active,
    nav a:focus {
        background-color: var(--background-contrast-color);
        outline: none;
    }

}

/* footer
--------------------------------------------- */

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontSize-xsmall);
    border-top: 1px solid var(--background-contrast-color);
}

.socials {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials li {
    padding: 0 1rem;
}


@media (min-width: 43.75em) {

    .site-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--background-contrast-color);
        padding-left: 1rem;
        height: 4.5rem;
        font-size: var(--fontSize-xsmall);
    }

    .socials {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    /* Child Selector, in this case, no different between using Child selector or using Desendent selector */
    .socials>li {
        padding: 1rem;
    }
}

/* Main
--------------------------------------------- */
.section-ad {
    width: 100%;
    position: relative;
    margin-top: 4.5rem;
    background-color: var(--background-contrast-color);
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.section-ad .ad {
    position: relative;
    top: 50px;
    color: var(--font-em-color);
    font-size: var(--fontSize-small);
    white-space: nowrap;
    text-align: center;
    animation: becomeBigger 8s linear infinite;

}

@keyframes becomeBigger {
    0% {
        font-size: calc(var(--fontSize-small)*0.8);
    }

    30% {
        font-size: var(--fontSize-small);
    }

    50% {
        font-size: var(--fontSize-media);
    }

    80% {
        font-size: var(--fontSize-small);
    }

    100% {
        font-size: calc(var(--fontSize-small)*0.8);
    }
}

.section-brNews {
    width: 100%;
    background-color: var(--background-contrast-color);
    height: auto;
    overflow: hidden;
    margin-top: 0.2rem;
}

.section-brNews .brNews {
    color: var(--font-em-color);
    font-size: var(--fontSzie-Xlarge);
    display: inline-block;
    white-space: nowrap;
    animation: marquee 8s linear infinite;
    padding: 0;
    margin: 0;
}

@keyframes marquee {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(-100%);
    }
}

[news] {
    padding: 1rem;
    border: 1px solid var(--background-contrast-color);
    box-shadow: 0 0 5px var(--background-contrast-color);
    margin: 0.5rem;
}

/* Descendant selector */
.item-container h6 {
    text-align: center;
}

.item-container img:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

.news h2 {
    margin: 2rem 1em;
    border-bottom: 1px solid var(--background-contrast-color);
    text-align: left;
}

/* General sibling selector--selector all the sibling preceded by the former selector.*/
P~P {
    font-size: var(--fontSize-xsmall);
}

.brNews-content {
    display: flex;
    height: 20vh;
    width: auto;
}

/* Adjacent selector--will only select the first element that is immediately preceded by the former selector.*/
img+article {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

img+article h6 {
    font-size: var(--fontSize-small);
}

img+article p {
    display: none
}

.brNews-content {
    margin-left: 1rem;
}


.walkMan {
    width: 90px;
    height: 160px;
    background: url(../assets/images/walk.webp);
    animation: walk-cycle 2.0s steps(8) infinite;
    margin-top: 0.8rem;
}

@keyframes walk-cycle {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -720px;
    }

}

@media (min-width: 43.75em) {
    .brNews-content {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .item-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* gap: 1.5rem; */
        margin: 2rem 4rem;
    }

    .news h2 {
        padding-left: 4rem;
    }

    img+article h6 {
        font-size: calc(var(--fontSzie-Xlarge) * 0.8);
    }

    img+article p {
        display: block
    }

    .item-container img:hover {
        transform: scale(1.2);
        transition: transform 1s ease;
    }


    /* Attribute selector */
    [news] {
        border: none;
        box-shadow: none;
        padding-right: 2rem;
        border-right: 1px solid var(--background-contrast-color);
    }

    /* pseudo selectors*/
    [news]:nth-child(4n+4) {
        border-right: none;
    }

    [news]:hover {
        border: 0.3rem solid var(--font-em-color);
    }



    @keyframes becomeBigger {
        0% {
            font-size: var(--fontSize-small);
        }

        30% {
            font-size: var(--fontSize-media);
        }

        50% {
            font-size: var(--fontSize-large);
        }

        80% {
            font-size: var(--fontSize-media);
        }

        100% {
            font-size: var(--fontSize-small);
        }
    }

    .walkMan {
        margin-top: 2rem;
    }

    @keyframes marquee {
        0% {
            transform: translateX(800%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

}